header.page-header.header
  .header__content.box
    a.header__logo.logo(href="#")
      svg.logo__icon(width="180" height="40")
        use(xlink:href="img/sprite.svg#logo-icon")
    nav.header__menu.menu
      ul.menu__list
        li.menu__item
          a.menu__link(href="#") Lorem1
        li.menu__item
          a.menu__link(href="#") Lorem2
        li.menu__item
          a.menu__link(href="#") Lorem3
        li.menu__item
          a.menu__link(href="#") Lorem4
    button.header__mobile-btn.toggle-menu(type="button")
