doctype html
html.page(lang="ru")
  head
      meta(charset="utf-8")
      title Title
      meta(content="width=device-width, initial-scale=1" name="viewport")
      link(rel="preload", href="fonts/ptsans.woff2" as="font" crossorigin="anonymous")
      link(rel="preload", href="fonts/ptsansbold.woff2" as="font" crossorigin="anonymous")
      link(rel="stylesheet" href="css/style.min.css")

  body.page__body
    include common/header.pug

    main.page-main
      .content.box Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
        | unknown printer took a galley of type and scrambled it to make a type specimen book.
        | It has survived not only five centuries, but also the leap into electronic typesetting,
        | remaining essentially unchanged. It was popularised in the 1960s with the release of
        | Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        | software like Aldus PageMaker including versions of Lorem Ipsum.

    include common/footer.pug
